@-webkit-keyframes noise-anim {
  0% {
    clip: rect(11px, 9999px, 87px, 0);
  }
  5% {
    clip: rect(76px, 9999px, 4px, 0);
  }
  10% {
    clip: rect(29px, 9999px, 9px, 0);
  }
  15% {
    clip: rect(31px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(92px, 9999px, 12px, 0);
  }
  25% {
    clip: rect(49px, 9999px, 100px, 0);
  }
  30% {
    clip: rect(99px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(27px, 9999px, 35px, 0);
  }
  40% {
    clip: rect(59px, 9999px, 59px, 0);
  }
  45% {
    clip: rect(41px, 9999px, 38px, 0);
  }
  50% {
    clip: rect(65px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(60px, 9999px, 34px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 85px, 0);
  }
  65% {
    clip: rect(88px, 9999px, 13px, 0);
  }
  70% {
    clip: rect(22px, 9999px, 17px, 0);
  }
  75% {
    clip: rect(76px, 9999px, 14px, 0);
  }
  80% {
    clip: rect(40px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(66px, 9999px, 82px, 0);
  }
  90% {
    clip: rect(3px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(24px, 9999px, 14px, 0);
  }
  100% {
    clip: rect(31px, 9999px, 98px, 0);
  }
}
@keyframes noise-anim {
  0% {
    clip: rect(11px, 9999px, 87px, 0);
  }
  5% {
    clip: rect(76px, 9999px, 4px, 0);
  }
  10% {
    clip: rect(29px, 9999px, 9px, 0);
  }
  15% {
    clip: rect(31px, 9999px, 6px, 0);
  }
  20% {
    clip: rect(92px, 9999px, 12px, 0);
  }
  25% {
    clip: rect(49px, 9999px, 100px, 0);
  }
  30% {
    clip: rect(99px, 9999px, 77px, 0);
  }
  35% {
    clip: rect(27px, 9999px, 35px, 0);
  }
  40% {
    clip: rect(59px, 9999px, 59px, 0);
  }
  45% {
    clip: rect(41px, 9999px, 38px, 0);
  }
  50% {
    clip: rect(65px, 9999px, 43px, 0);
  }
  55% {
    clip: rect(60px, 9999px, 34px, 0);
  }
  60% {
    clip: rect(86px, 9999px, 85px, 0);
  }
  65% {
    clip: rect(88px, 9999px, 13px, 0);
  }
  70% {
    clip: rect(22px, 9999px, 17px, 0);
  }
  75% {
    clip: rect(76px, 9999px, 14px, 0);
  }
  80% {
    clip: rect(40px, 9999px, 3px, 0);
  }
  85% {
    clip: rect(66px, 9999px, 82px, 0);
  }
  90% {
    clip: rect(3px, 9999px, 47px, 0);
  }
  95% {
    clip: rect(24px, 9999px, 14px, 0);
  }
  100% {
    clip: rect(31px, 9999px, 98px, 0);
  }
}
@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(64px, 9999px, 29px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 67px, 0);
  }
  15% {
    clip: rect(50px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(33px, 9999px, 30px, 0);
  }
  25% {
    clip: rect(72px, 9999px, 36px, 0);
  }
  30% {
    clip: rect(53px, 9999px, 100px, 0);
  }
  35% {
    clip: rect(91px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(86px, 9999px, 96px, 0);
  }
  45% {
    clip: rect(45px, 9999px, 28px, 0);
  }
  50% {
    clip: rect(36px, 9999px, 27px, 0);
  }
  55% {
    clip: rect(77px, 9999px, 86px, 0);
  }
  60% {
    clip: rect(16px, 9999px, 26px, 0);
  }
  65% {
    clip: rect(29px, 9999px, 11px, 0);
  }
  70% {
    clip: rect(43px, 9999px, 55px, 0);
  }
  75% {
    clip: rect(70px, 9999px, 1px, 0);
  }
  80% {
    clip: rect(3px, 9999px, 64px, 0);
  }
  85% {
    clip: rect(93px, 9999px, 62px, 0);
  }
  90% {
    clip: rect(87px, 9999px, 91px, 0);
  }
  95% {
    clip: rect(28px, 9999px, 36px, 0);
  }
  100% {
    clip: rect(6px, 9999px, 87px, 0);
  }
}
@keyframes noise-anim-2 {
  0% {
    clip: rect(64px, 9999px, 29px, 0);
  }
  5% {
    clip: rect(35px, 9999px, 29px, 0);
  }
  10% {
    clip: rect(70px, 9999px, 67px, 0);
  }
  15% {
    clip: rect(50px, 9999px, 73px, 0);
  }
  20% {
    clip: rect(33px, 9999px, 30px, 0);
  }
  25% {
    clip: rect(72px, 9999px, 36px, 0);
  }
  30% {
    clip: rect(53px, 9999px, 100px, 0);
  }
  35% {
    clip: rect(91px, 9999px, 2px, 0);
  }
  40% {
    clip: rect(86px, 9999px, 96px, 0);
  }
  45% {
    clip: rect(45px, 9999px, 28px, 0);
  }
  50% {
    clip: rect(36px, 9999px, 27px, 0);
  }
  55% {
    clip: rect(77px, 9999px, 86px, 0);
  }
  60% {
    clip: rect(16px, 9999px, 26px, 0);
  }
  65% {
    clip: rect(29px, 9999px, 11px, 0);
  }
  70% {
    clip: rect(43px, 9999px, 55px, 0);
  }
  75% {
    clip: rect(70px, 9999px, 1px, 0);
  }
  80% {
    clip: rect(3px, 9999px, 64px, 0);
  }
  85% {
    clip: rect(93px, 9999px, 62px, 0);
  }
  90% {
    clip: rect(87px, 9999px, 91px, 0);
  }
  95% {
    clip: rect(28px, 9999px, 36px, 0);
  }
  100% {
    clip: rect(6px, 9999px, 87px, 0);
  }
}
@-webkit-keyframes wobble {
  0% {
    transform: translate(-40%, -30%) rotate(-30deg);
  }
  25% {
    transform: translate(-40%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-40%, -30%) rotate(30deg);
  }
  75% {
    transform: translate(-40%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-40%, -30%) rotate(-30deg);
  }
}
@keyframes wobble {
  0% {
    transform: translate(-40%, -30%) rotate(-30deg);
  }
  25% {
    transform: translate(-40%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-40%, -30%) rotate(30deg);
  }
  75% {
    transform: translate(-40%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-40%, -30%) rotate(-30deg);
  }
}
@-webkit-keyframes cursor-jiggle {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(0);
  }
  20% {
    transform: translate(-50%, -50%) scale(1.8);
  }
  30% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.7);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes cursor-jiggle {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(0);
  }
  20% {
    transform: translate(-50%, -50%) scale(1.8);
  }
  30% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.7);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes mouse-icon-jiggle {
  0% {
    transform: translate(0, -10%);
  }
  100% {
    transform: translate(0, 20%);
  }
}
@keyframes mouse-icon-jiggle {
  0% {
    transform: translate(0, -10%);
  }
  100% {
    transform: translate(0, 20%);
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 0;
    letter-spacing: 10px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0px;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
    letter-spacing: 10px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0px;
  }
}
@-webkit-keyframes loader-end {
  0% {
    height: max(100vh, 100vw);
    width: max(100vh, 100vw);
    border-radius: 0%;
  }
  100% {
    height: 0vh;
    width: 0vh;
    border-radius: 100%;
  }
}
@keyframes loader-end {
  0% {
    height: max(100vh, 100vw);
    width: max(100vh, 100vw);
    border-radius: 0%;
  }
  100% {
    height: 0vh;
    width: 0vh;
    border-radius: 100%;
  }
}
@-webkit-keyframes flicker {
  0% {
    opacity: 0.3458578034;
  }
  5% {
    opacity: 0.3005884629;
  }
  10% {
    opacity: 0.7362633534;
  }
  15% {
    opacity: 0.8733302574;
  }
  20% {
    opacity: 0.0316429641;
  }
  25% {
    opacity: 0.7618373728;
  }
  30% {
    opacity: 0.5898298462;
  }
  35% {
    opacity: 0.2118034827;
  }
  40% {
    opacity: 0.3726400135;
  }
  45% {
    opacity: 0.4968072281;
  }
  50% {
    opacity: 0.8867886976;
  }
  55% {
    opacity: 0.8160881095;
  }
  60% {
    opacity: 0.5721623451;
  }
  65% {
    opacity: 0.7497667062;
  }
  70% {
    opacity: 0.7361895526;
  }
  75% {
    opacity: 0.8992303487;
  }
  80% {
    opacity: 0.2860093207;
  }
  85% {
    opacity: 0.2299514515;
  }
  90% {
    opacity: 0.2308005434;
  }
  95% {
    opacity: 0.9511204896;
  }
  100% {
    opacity: 0.6237183026;
  }
}
@keyframes flicker {
  0% {
    opacity: 0.3458578034;
  }
  5% {
    opacity: 0.3005884629;
  }
  10% {
    opacity: 0.7362633534;
  }
  15% {
    opacity: 0.8733302574;
  }
  20% {
    opacity: 0.0316429641;
  }
  25% {
    opacity: 0.7618373728;
  }
  30% {
    opacity: 0.5898298462;
  }
  35% {
    opacity: 0.2118034827;
  }
  40% {
    opacity: 0.3726400135;
  }
  45% {
    opacity: 0.4968072281;
  }
  50% {
    opacity: 0.8867886976;
  }
  55% {
    opacity: 0.8160881095;
  }
  60% {
    opacity: 0.5721623451;
  }
  65% {
    opacity: 0.7497667062;
  }
  70% {
    opacity: 0.7361895526;
  }
  75% {
    opacity: 0.8992303487;
  }
  80% {
    opacity: 0.2860093207;
  }
  85% {
    opacity: 0.2299514515;
  }
  90% {
    opacity: 0.2308005434;
  }
  95% {
    opacity: 0.9511204896;
  }
  100% {
    opacity: 0.6237183026;
  }
}
@-webkit-keyframes revolve {
  0% {
    z-index: -1;
    transform: translate(-7vw, 0%) rotateY(0deg);
    opacity: 1;
  }
  10% {
    transform: translate(0vw, 0%) rotateY(0deg);
    opacity: 0.1;
  }
  40% {
    transform: translate(47vw, 0%) rotateY(0deg);
    opacity: 0.1;
  }
  50% {
    z-index: 2;
    transform: translate(53vw, 0%) rotateY(-180deg);
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translate(47vw, 0%) rotateY(-180deg);
  }
  90% {
    opacity: 1;
    transform: translate(0vw, 0%) rotateY(-180deg);
  }
  100% {
    opacity: 1;
    transform: translate(-7vw, 0%) rotateY(-360deg);
  }
}
@keyframes revolve {
  0% {
    z-index: -1;
    transform: translate(-7vw, 0%) rotateY(0deg);
    opacity: 1;
  }
  10% {
    transform: translate(0vw, 0%) rotateY(0deg);
    opacity: 0.1;
  }
  40% {
    transform: translate(47vw, 0%) rotateY(0deg);
    opacity: 0.1;
  }
  50% {
    z-index: 2;
    transform: translate(53vw, 0%) rotateY(-180deg);
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: translate(47vw, 0%) rotateY(-180deg);
  }
  90% {
    opacity: 1;
    transform: translate(0vw, 0%) rotateY(-180deg);
  }
  100% {
    opacity: 1;
    transform: translate(-7vw, 0%) rotateY(-360deg);
  }
}/*# sourceMappingURL=keyframes.css.map */