@media only screen and (max-width: 1300px) {
  .mouse {
    display: none;
  }
  .quilt-lat::before {
    display: none;
  }
  .quilt-lat::after {
    display: none;
  }
  body div.scroll-counter {
    top: 97vh;
    left: 42vw;
    transform: rotate(90deg) scale(0.5);
    z-index: -2;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 500px) {
  body div.header div.hero {
    top: 45vh;
    margin: auto;
    left: 60vw;
    width: 40vw;
    font-size: 8vh;
  }
  body div.header div.background {
    font-size: 30vh;
  }
  body div.header div.background div.background1 {
    line-height: 25vh;
  }
  body div.header div.background div.background2 {
    line-height: 25vh;
  }
  body div.header div.background div.background3 {
    line-height: 25vh;
  }
  body div.header div.background div.background4 {
    line-height: 25vh;
  }
  body div.header div.border {
    padding: 0px;
    height: 80vh;
    width: 40vw;
    top: 10vh;
    left: 10vw;
  }
  body div.header div.border a.project-a {
    left: 50%;
  }
  body div.header div.border::after {
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
  }
  body div.header span.scroll-down {
    letter-spacing: 5px;
    font-size: 8px;
    top: 90vh;
    left: 70vw;
    z-index: 3;
  }
  body div.content div.card-container div.card a.card-button {
    height: 4vh;
  }
  body div.projects {
    height: 600vh;
  }
  body div.projects div.card-container {
    height: 150vh;
  }
  body div.projects div.card-container div.card {
    width: 40vw;
    left: 30vw;
    font-size: 2vh;
  }
  body div.projects div.card-container div.showcase {
    top: 50vh;
    left: 10vw;
  }
  body div.projects div.card-container div.showcase img {
    width: 80vw;
  }
  body div.projects div.card-container div.showcase::after {
    left: 40vw;
    width: 50vw;
    height: 90vh;
  }
  body div.projects div.card-container div.showcase:hover::after {
    width: 90vw;
  }
}
@media only screen and (max-width: 900px) {
  body div.nav {
    display: none;
  }
  body div.scroll-counter {
    display: none;
  }
  body div.header div.hero {
    top: 50vh;
    left: 18vw;
    width: 50vw;
    font-size: 4vh;
    border-left: 4px dotted #736151;
    padding-left: 4vh;
  }
  body div.header div.background {
    position: absolute;
    font-size: 30vh;
    top: 0%;
    left: -150%;
  }
  body div.header div.background div.background1 {
    line-height: 25vh;
  }
  body div.header div.background div.background2 {
    line-height: 25vh;
  }
  body div.header div.background div.background3 {
    line-height: 25vh;
  }
  body div.header div.background div.background4 {
    line-height: 25vh;
  }
  body div.header div.border {
    padding: 0px;
    height: 80vh;
    width: 80vw;
    top: 10vw;
    left: 10vw;
  }
  body div.header div.border div.header-border-content {
    display: none;
  }
  body div.header div.border::after {
    display: none;
  }
  body div.header div.border a.project-a {
    font-size: 12px;
    font-weight: bold;
    height: 1vh;
    bottom: 55%;
    color: #F2DCC2;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, 0%);
    transition: 1s ease;
  }
  body div.header div.border a.project-a:hover {
    color: #40342A;
  }
  body div.header span.scroll-down {
    letter-spacing: 5px;
    font-size: 8px;
    top: 95vh;
    left: 47vw;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: 0.9s ease;
    -webkit-animation: none;
            animation: none;
  }
  body div.header span.scroll-down::after {
    visibility: visible;
    -webkit-animation: mouse-icon-jiggle 1s alternate infinite;
            animation: mouse-icon-jiggle 1s alternate infinite;
  }
  body div.content div.card-container div.card a.card-button {
    height: 4vh;
  }
  body div.projects div.card-container div.card {
    width: 80vw;
    left: 10vw;
    margin-top: -10vh;
    font-size: 1.6vh;
  }
  body div.projects div.card-container div.showcase {
    top: 40vh;
    left: 0vw;
  }
  body div.projects div.card-container div.showcase img {
    width: 100vw;
  }
  body div.projects div.card-container div.showcase::after {
    left: 50vw;
    width: 80vw;
    height: 45vh;
  }
  body div.projects div.card-container div.showcase:hover::after {
    width: 100vw;
  }
}/*# sourceMappingURL=responsive.css.map */