@media only screen and (max-width: 1300px) {
  .mouse {
    display: none;
  }
  * {
    cursor: default;
  }
  body div.scroll-counter {
    top: 0vh;
    left: 50vw;
    transform: translate(-50%, -50%) rotate(90deg);
  }
  body div.background {
    position: absolute;
    font-size: 30vh;
    top: 50%;
    left: -150%;
  }
  body div.background div.background-i {
    display: none;
  }
  body div.background div.background-i:nth-child(4) {
    display: block;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 600px) {
  body div.header div.hero {
    width: 60vw;
    left: 15vw;
    top: 70vh;
    font-size: 5vh;
    border-left: 4px dotted #736151;
    padding-left: 4vh;
  }
  body div.header div.border {
    top: 25vh;
    left: 30vw;
  }
  body div.header div.border li:nth-child(1) {
    top: 32vh;
    right: -18vw;
  }
  body div.header div.border li:nth-child(2) {
    top: 35vh;
    right: -13vw;
  }
  body div.header div.border a.project-a {
    left: 50%;
  }
  body div.header div.border::after {
    left: 50%;
    top: 50%;
    text-align: left;
  }
  body div.header span.scroll-down {
    top: 90vh;
    left: 70vw;
    z-index: 3;
  }
  body div.header div.card-container div.card a.card-button {
    height: 4vh;
  }
  body div.projects {
    height: 600vh;
  }
  body div.projects div.card-container {
    height: 150vh;
  }
  body div.projects div.card-container div.card {
    width: 40vw;
    left: 30vw;
    font-size: 2vh;
  }
  body div.projects div.card-container div.showcase {
    top: 50vh;
    left: 10vw;
  }
  body div.projects div.card-container div.showcase img {
    width: 80vw;
  }
  body div.projects div.card-container div.showcase::after {
    left: 40vw;
    width: 50vw;
  }
  body div.projects div.card-container div.showcase::before {
    left: 40vw;
    width: calc(50vw + 3vh);
  }
  body div.projects div.card-container div.showcase:hover::after {
    width: 90vw;
  }
  body div.contacts {
    left: 1vw;
    top: 50vh;
  }
}
@media only screen and (max-width: 600px) {
  body div.nav {
    padding: 0;
  }
  body div.scroll-counter {
    pointer-events: none;
  }
  body div.header div.hero {
    top: 60vh;
    left: 18vw;
    width: 50vw;
    font-size: 4vh;
  }
  body div.header div.border {
    padding: 0px;
    width: 60vw;
    top: 35vh;
    left: 20vw;
    border-radius: 50%;
  }
  body div.header div.border li:nth-child(1) {
    top: 12vh;
    right: -8vw;
  }
  body div.header div.border li:nth-child(2) {
    top: 15vh;
    right: -13vw;
  }
  body div.header div.border::after {
    padding: 0px;
    width: calc(60vw + 3vh);
    border-radius: 50%;
  }
  body div.header span.scroll-down {
    top: 95vh;
    left: 47vw;
    transform: translate(-50%, -50%);
    transition: 0.9s ease;
    -webkit-animation: none;
            animation: none;
    visibility: hidden;
  }
  body div.header span.scroll-down::after {
    visibility: visible;
    font-size: 60px;
    -webkit-animation: mouse-icon-jiggle 1s alternate infinite;
            animation: mouse-icon-jiggle 1s alternate infinite;
  }
  body div.header div.card-container div.card a.card-button {
    height: 4vh;
  }
  body div.projects {
    margin-top: 15%;
    margin-bottom: 15%;
  }
  body div.projects div.card-container div.card {
    width: 80vw;
    left: 10vw;
    margin-top: -5%;
    font-size: 1.6vh;
  }
  body div.projects div.card-container div.showcase {
    top: 40vh;
    left: 0vw;
  }
  body div.projects div.card-container div.showcase img {
    width: 100vw;
  }
  body div.projects div.card-container div.showcase::after {
    left: 50vw;
    width: 80vw;
    height: 45vh;
  }
  body div.projects div.card-container div.showcase::before {
    left: 50vw;
    width: calc(80vw + 3vh);
    height: 48vh;
  }
  body div.projects div.card-container div.showcase:hover::after {
    width: 100vw;
  }
  body div.contacts {
    left: -2vw;
    top: 50vh;
  }
}/*# sourceMappingURL=responsive.css.map */