$serif: 'Roboto Slab', 'Times New Roman', serif
$sans: 'Quicksand', 'Segoe UI', Verdana, sans-serif
$serif1: 'Bodoni Moda', 'Times New Roman', serif
$sans1: Aboreto, 'Segoe UI', Verdana, sans-serif
$color0: #121212
$color1: #261D17
$color2: #40342A
$color3: #736151
$color4: #A68776
$color5: #F2DCC2
$color6: #fff3ec
//both
@media only screen and (max-width: 1300px)
    .mouse
        display: none
    *
        cursor: default
    body
        div.scroll-counter
            top: 0vh
            left: 50vw
            transform: translate(-50%,-50%) rotate(90deg)

        div.background
            position: absolute
            font-size: 30vh
            top: 50%
            left: -150%
            div.background-i
                display: none
                &:nth-child(4)
                    display: block

//tablets
@media only screen and (max-width: 1300px) and (min-width: 600px)
    body

        div.header
            div.hero
                width: 60vw
                left: 15vw
                top: 70vh
                font-size: 5vh
                border-left: 4px dotted $color3
                padding-left: 4vh

            div.border
                top: 25vh
                left: 30vw
                li
                    &:nth-child(1)
                        top: 32vh
                        right: -18vw
                    &:nth-child(2)
                        top: 35vh
                        right: -13vw
                    // display: none
                a.project-a
                    left: 50%
                &::after
                    left: 50%
                    top: 50%
                    text-align: left

            span.scroll-down
                top: 90vh
                left: 70vw
                z-index: 3
        div.content
            div.card-container
                div.card
                    a.card-button
                        height: 4vh

        div.projects
            height: 600vh
            div.card-container
                height: 150vh
                div.card
                    width: 40vw
                    left: 30vw
                    font-size: 2vh

                div.showcase
                    top: 50vh
                    left: 10vw

                    img
                        width: 80vw
                    &::after
                        left: 40vw
                        width: 50vw
                    &::before
                        left: 40vw
                        width: calc(50vw + 3vh)
                        // height: 90vh
                    &:hover::after
                        width: 90vw
        div.contacts
            left: 1vw
            top: 50vh
// mobile view
@media only screen and (max-width: 600px)
    body
        div.nav
            position: absolute
            margin-top: 6vh
            justify-content: center
        div.scroll-counter
            pointer-events: none

        div.header
            div.hero
                top: 60vh
                left: 38vw
                width: 50vw
                font-size: 4vh
                text-align: right

            div.border
                padding: 0px
                height: 60vh
                width: 60vw
                top: 15vh
                left: 20vw
                border-radius: 10vw
                border-style: dashed
                li
                    display: none
                &::after
                    padding: 0px
                    width: calc(60vw + 3vh)
                    height: 63vh
                    border-radius: 10vw
            span.scroll-down
                top: 95vh
                left: 47vw
                transform: translate(-50%,-50%)
                transition: 0.9s ease
                animation: none
                visibility: hidden
                &::after
                    visibility: visible
                    font-size: 60px
                    animation: mouse-icon-jiggle 1s alternate infinite

        div.content
            div.card-container
                div.card
                    a.card-button
                        height: 4vh
        div.projects
            h1#content-header
                margin-top: 15%
                margin-bottom: 15%
            div.card-container
                div.card
                    width: 80vw
                    left: 10vw
                    margin-top: -5%
                    font-size: 1.6vh
                div.showcase
                    top: 40vh
                    left: 0vw
                    img
                        width: 100vw
                    &::after
                        left: 50vw
                        width: 80vw
                        height: 45vh
                    &::before
                        left: 50vw
                        width: calc(80vw + 3vh)
                        height: calc(45vh + 3vh)
                    &:hover::after
                        width: 100vw
