@import url("./responsive.css");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300&display=swap");
a {
  color: #E8D4B4;
}

*::-moz-selection {
  background-color: #E2F0CB;
  color: #2C3242;
}

*::selection {
  background-color: #E2F0CB;
  color: #2C3242;
}

.minimal-text {
  font-family: "Quicksand", Verdana, "Segoe UI", sans-serif;
}

html {
  color: #B5EAD7;
  font-family: "Quicksand", Verdana, "Segoe UI", sans-serif;
  background-image: url("../img/bg1.png");
}

div.nav span.logo {
  font-family: "Prata", "Times New Roman", serif;
}

div.scroll-counter {
  color: #B5EAD7;
}
div.scroll-counter .secondhand {
  background-color: #E8D4B4;
}
div.scroll-counter .secondhand::after {
  background-color: #E2F0CB;
}
div.scroll-counter::after {
  border: 6px solid #B5EAD7;
}
div.scroll-counter:hover::after {
  border: 2px solid #2C3242;
}
div.scroll-counter:hover .secondhand {
  background-color: #E2F0CB;
}
div.scroll-counter::before {
  border: none;
}
div.scroll-counter ol {
  border: 6px solid #E8D4B4;
}
div.scroll-counter ol::after {
  border: none;
}
div.scroll-counter ol li {
  list-style-type: upper-roman;
  font-family: "Prata", "Times New Roman", serif;
  transition: color 0.5s ease, background-color 0.5s ease, padding 0.5s ease;
}

div.contacts li {
  font-weight: bold;
}

.quilt-lat::before {
  border-top: 1px solid rgba(226, 240, 203, 0.7);
}
.quilt-lat::after {
  border-top: 1px solid rgba(226, 240, 203, 0.7);
}
.quilt-lat:hover::after {
  width: 0%;
}
.quilt-lat:hover::before {
  width: 0%;
}

.quilt-stat::before {
  border-top: 1px solid rgba(226, 240, 203, 0.7);
}
.quilt-stat::after {
  border: 2px solid #E8D4B4;
}

div.background {
  overflow: hidden;
}
div.background div.background-i {
  color: #2C3242;
  font-family: "Yeseva One", "Times New Roman", serif;
}

div.header div.hero {
  font-family: "Yeseva One", "Times New Roman", serif;
  color: #E8D4B4;
}
div.header div.border {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  color: #B5EAD7;
  width: 50vh;
  border: 6px solid #B5EAD7;
}
div.header div.border li {
  font-family: "Quicksand", Verdana, "Segoe UI", sans-serif;
  font-weight: bold;
}
div.header div.border::after {
  border: none;
}

div.overlay {
  background-color: #E2F0CB;
  color: #0f0f0f;
  font-family: "Yeseva One", "Times New Roman", serif;
}
div.overlay ul:has(li:hover) li:not(:hover) {
  color: #E8D4B4;
}

div.content h1#content-header {
  font-family: "Yeseva One", "Times New Roman", serif;
  color: #E2F0CB;
}

div.projects div.card-container div.card {
  background-image: url("../img/bg2.png");
  transition: background-color 0.5s ease;
  color: #B5EAD7;
}
div.projects div.card-container div.card h1 {
  font-family: "Yeseva One", "Times New Roman", serif;
  color: #B5EAD7;
}
div.projects div.card-container div.card a.card-button:hover {
  color: #E2F0CB;
}
div.projects div.card-container div.showcase::after {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 6px solid rgba(181, 234, 215, 0.7);
}
div.projects div.card-container div.showcase:hover::after {
  border-color: rgba(226, 240, 203, 0.1);
}
div.projects div.card-container div.showcase:hover + .card {
  color: #E2F0CB;
  background-color: #100c0c;
}

.mouse {
  background-color: #E2F0CB;
}

@-webkit-keyframes cursor-jiggle {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(0);
  }
  20% {
    transform: translate(-50%, -50%) scale(1.8);
  }
  30% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.7);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes cursor-jiggle {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  10% {
    transform: translate(-50%, -50%) scale(0);
  }
  20% {
    transform: translate(-50%, -50%) scale(1.8);
  }
  30% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  40% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.7);
  }
  60% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes mouse-icon-jiggle {
  0% {
    transform: translate(0, -10%);
  }
  100% {
    transform: translate(0, 20%);
  }
}
@keyframes mouse-icon-jiggle {
  0% {
    transform: translate(0, -10%);
  }
  100% {
    transform: translate(0, 20%);
  }
}/*# sourceMappingURL=style3.css.map */