@import url('./responsive.css')

//sans serif
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,500;1,6..96,400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap')
//sans
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap')
//variables
$sans1: Aboreto, Verdana, 'Segoe UI', sans-serif
$sans2: 'Quicksand', Verdana, 'Segoe UI', sans-serif
$serif1: 'Bodoni Moda', 'Times New Roman', serif
$serif2: 'Playfair Display', 'Times New Roman', serif
$color-2: #0a0a0a
$color-1: #0f0f0f
$color0: #121212
$color1: #261D17
$color2: #40342A
$color3: #736151
$color4: #A68776
$color5: #F2DCC2
$color6: #fff3ec

//locomotive fix
html.has-scroll-smooth
    bottom: 0
    left: 0
    overflow: hidden
    position: fixed
    right: 0
    top: 0

.container
    perspective: 1px

//----
ul
    list-style: none
a
    text-decoration-line: none
    color: $color4

*
    cursor: none
    box-sizing: border-box
    -ms-overflow-style: none /* IE and Edge */
    scrollbar-width: none /* Firefox */
    &::selection
        background-color: $color5
        color: $color0
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar
    display: none

.minimal-text
    letter-spacing: 5px
    font-family: $sans2
    text-transform: uppercase

html
    // mix-blend-mode: difference
    background-color: $color0
    color: $color6
    font-family: $sans2

body, html
    margin: 0
    padding: 0
    overflow-x: hidden

div.nav
    position: fixed
    width: 2vw
    z-index: 1
    margin: 0
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 20px
    // pointer-events: none

    span.logo
        padding: 20px
        font-size: 30px
        font-family: $serif1
        font-weight: bold
        transition: 0.8s ease
        &:hover
            letter-spacing: -14px

div.scroll-counter
    position: fixed
    opacity: 1
    left: 0vw
    top: 50vh
    z-index: 1
    transform: translate(-100%,-50%)
    ul
        margin: 0
        // border: 1px solid $color2
        border-radius: 50%
        aspect-ratio: 1/1
        width: 8vh
        // transition: 0.5s ease
        li
            top: 3vh
            left: 3vh
            border-radius: 50%
            width: 5vh
            font-size: 20px
            aspect-ratio: 1/1
            color: $color3
            text-align: center
            // border: 2px dashed $color5
            position: absolute
            &#active
                width: 3vh
                background-color: $color5

div.contacts
    position: fixed
    left: 95vw
    top: 50vh
    z-index: 1
    li
        font-size: 12px
        margin-bottom: 250%
        list-style: none
        transform: rotate(90deg)

.quilt-lat
    position: relative
    text-align: center
    &::before
        position: absolute
        content: ""
        border-top: 1px solid transparentize($color3,0.3)
        width: 20%
        top: 50%
        left: -50%
        transition: 0.7s ease
    &::after
        position: absolute
        content: ""
        border-top: 1px solid transparentize($color3,0.3)
        width: 20%
        top: 50%
        right: -50%
        transition: 0.7s ease
    &:hover::after
        width: 0%
    &:hover::before
        width: 0%

div.header
    position: relative
    height: 100vh
    div.hero
        font-family: $serif2
        color: $color5
        font-size: 8vh
        position: absolute
        z-index: 4
        top: 50vh
        padding-right: 5vw
        left: 50%
    div.background
        position: absolute
        font-size: 30vh
        top: 0%
        left: -50%
            // @for $i from 1 through 4
        div.background-i
            line-height: 25vh
            overflow-y: hidden

            // -webkit-text-stroke-width: 4px
            // -webkit-text-stroke-color: $color-1
            // color: transparent
            // opacity: 0.1

            color: transparentize($color5,0.98)

            -webkit-user-select: none
            -moz-user-select: none
            -ms-user-select: none
            user-select: none
            font-family: $serif2
            transition: 0.1s ease

    div.border
        content: ''
        border: 4px dashed $color2
        position: absolute
        width: 40vh
        aspect-ratio: 1/1
        top: 30%
        left: 25%
        color: $color5
        transform: translate(-50%, -50%)
        // transition: 0.5s ease
        z-index: 2
        border-radius: 5vh
        overflow: hidden

        div.header-border-content
            position: absolute
            left: 50%
            top: 50%
            height: 110%
            clip-path: circle(0% at 50% 50%)
            aspect-ratio: 1/1

            // border-radius: 50%
            background-color: $color0
            transform: translate(-50%, -50%)
            overflow: hidden
            z-index: 1
            transition: 1s ease
            p#aboutme
                padding-right: 50px
                position: absolute
                font-family: $sans2
                font-size: 2vh
                opacity: 0.3
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                width: 30vh
                transition: 1s ease
                span
                    font-family: $serif2
                    font-size: 48px
                    color: $color3
                    font-weight: bold
                    display: block
            &:hover p#aboutme
                opacity: 1
        a.project-a
            font-size: 15px
            position: absolute
            right: 0%
            bottom: 50%
            opacity: 0
            padding-top: 20px
            padding-bottom: 20px
            z-index: 20
            transform: translate(25%,50%) rotate(90deg)
            transition: 1s ease-in
            &:hover
                color: $color5

        &:hover div.header-border-content
            clip-path: circle(100% at 50% 50%)
        &:hover a.project-a
            opacity: 1
        &:hover
            // border-color: transparentize($color5, 1)
        &::after
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%,-50%)
            font-size: 2vh
            z-index: 0
            font-family: $sans2
            content: "BRIEF INTRODUCTION"
            letter-spacing: 5px

    span.scroll-down
        position: absolute
        top: 90vh
        left: 50%
        transform: translate(-50%,-50%)
        transition: 0.9s ease
        img#scroll-down-img
            animation: mouse-icon-jiggle 1s alternate infinite
            width: 3vw
            filter: invert(0.7) sepia(60%)
            pointer-events: none

        &::after
            content: "↓"
            font-size: 20px
            position: absolute
            bottom: -50%
            left: 50%
            transform: translate(-50%, 70%)
        &:hover
            transform: translate(-50%, -20%)

div.overlay
    height: 100vh
    width: 0vw
    position: fixed
    z-index: 10
    background-color: $color5
    transition: 0.5s ease-in
    pointer-events: none
    mix-blend-mode: difference

div.content
    min-height: 100vh
    h1#content-header
        margin-top: 20vh
        text-align: center
        font-family: $sans1
        margin-bottom: 10vh

div.projects
    div.card-container
        position: relative
        z-index: -2
        height: 100vh
        div.card
            position: absolute
            left: 10vw
            // font-size: 1.6vh
            border-radius: 50px
            padding: 30px
            color: $color4
            z-index: 2
            width: 20vw
            background-color: $color-1
            transition: color 1s ease, background-color 0.5s ease
            h1
                font-family: $serif2
                margin: 30px
                text-align: center
            a.card-button
                margin-top: 3vh
                display: block
                height: 0
                font-weight: bold
                overflow: hidden
                transition: 1s ease
                line-height: 4vh
                width: 100%
                text-align: center
                &:hover
                    color: $color5
            &:hover
                color: $color5
                background-color: $color-2
                a.card-button
                    height: 4vh
                    // padding: 30px

        div.showcase
            position: absolute
            top: 0vh
            left: 40vw
            z-index: 1
            transition: clip-path 1s ease

            img
                border-radius: 20px
                width: 50vw
                filter: brightness(70%) sepia(50%)
                transition: filter 1s ease

            &::after
                content: ' '
                position: absolute
                top: 50%
                left: 25vw
                width: 30vw
                height: 60vh
                z-index: -1
                border-radius: 50px
                transform: translate(-50%, -50%)
                border: 3px solid transparentize($color5, 0.8 )
                pointer-events: none
                transition: 1s ease
            &:hover::after
                width: 40vw
                border-color: transparentize($color5,0.9 )
            &:hover
                &+ .card
                    color: $color5
                    background-color: $color-2
                    a.card-button
                        height: 4vh
                img
                    filter: brightness(100%)

        div.rev-card
            left: auto
            right: 10vw
            z-index: 2
        div.rev-s
            left: auto
            right: 40vw

.mouse
    border-radius: 50%
    width: 12px
    aspect-ratio: 1/1
    background-color: $color5
    mix-blend-mode: difference
    position: fixed
    z-index: 100
    transition: top 0.1s ease, left 0.1s ease, width 0.3s ease
    transform: translate(-50%, -50%)
    pointer-events: none

.mouse-click
    animation-name: cursor-jiggle
    animation-duration: 1.5s
    animation-direction: normal

.mouse-hover
    width: 60px

    @keyframes cursor-jiggle
        0%
            transform: translate(-50%, -50%) scale(1)
        10%
            transform: translate(-50%, -50%) scale(0)
        20%
            transform: translate(-50%, -50%) scale(1.8)
        30%
            transform: translate(-50%, -50%) scale(0.5)
        40%
            transform: translate(-50%, -50%) scale(1.5)
        50%
            transform: translate(-50%, -50%) scale(0.7)
        60%
            transform: translate(-50%, -50%) scale(1.2)
        50%
            transform: translate(-50%, -50%) scale(0.9)
        50%
            transform: translate(-50%, -50%) scale(1)

@keyframes mouse-icon-jiggle
    0%
        transform: translate(0, -10%)
    100%
        transform: translate(0, 20%)
