@import url("./responsive.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap");
a {
  color: #9f8ca1;
}

*::selection {
  background-color: #d4c2f2;
  color: #111111;
}

.minimal-text {
  font-family: "Raleway", Verdana, "Segoe UI", sans-serif;
}

html {
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(../img/stars1.jpg);
  color: #d4c2f2;
  font-family: "Raleway", Verdana, "Segoe UI", sans-serif;
}

div.nav span.logo {
  font-family: "Raleway", Verdana, "Segoe UI", sans-serif;
}

div.scroll-counter {
  color: #f0ecff;
}
div.scroll-counter .secondhand {
  transition: 0.3s ease;
  z-index: 2;
  border: 1vh solid black;
  width: 10vh;
  background-color: #000000;
  border-radius: 0 50% 50% 0;
}
div.scroll-counter .secondhand::after {
  width: 10vh;
  background-image: url(../img/sat.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
div.scroll-counter .secondhand::before {
  content: " ";
  width: 2vh;
  border-radius: 50%;
  aspect-ratio: 1/1;
  position: absolute;
  transform: translate(10vw, -50%);
  background-image: url("../img/asteroid1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
div.scroll-counter::after {
  border: 2px solid transparent;
}
div.scroll-counter:hover::after {
  border: 2px solid #111111;
}
div.scroll-counter::before {
  border: none;
}
div.scroll-counter ol::after {
  border: none;
}
div.scroll-counter ol li {
  list-style-type: upper-roman;
  font-family: "Raleway", Verdana, "Segoe UI", sans-serif;
  transition: color 0.5s ease, background-color 0.5s ease, padding 0.5s ease;
}

div.contacts li {
  font-weight: bold;
}

.quilt-lat::before {
  border-top: 1px solid rgba(212, 194, 242, 0.7);
}
.quilt-lat::after {
  border-top: 1px solid rgba(212, 194, 242, 0.7);
}
.quilt-lat:hover::after {
  width: 0%;
}
.quilt-lat:hover::before {
  width: 0%;
}

.quilt-stat::before {
  border-top: 1px solid rgba(212, 194, 242, 0.7);
  width: 2vw;
  top: 50%;
  left: -6vw;
}
.quilt-stat::after {
  border: 2px solid #9f8ca1;
  left: -3vw;
}

div.background {
  display: none;
}

div.header::before {
  position: absolute;
  left: 0;
  top: 60vh;
  background-image: url(../img/earth1.png);
  content: "";
  height: 70vh;
  width: 30vw;
  background-repeat: no-repeat;
  background-size: contain;
}
div.header div.hero {
  font-family: "Space Mono", monospace, "Segoe UI", sans-serif;
  font-size: 6vh;
  color: #d4c2f2;
}
div.header div.hero span {
  font-style: italic;
}
div.header div.border {
  color: #f0ecff;
  width: 50vh;
}
div.header div.border li {
  font-family: "Space Mono", monospace, "Segoe UI", sans-serif;
}
div.header div.border li:nth-child(1) {
  top: 2vh;
  right: auto;
}
div.header div.border li:nth-child(2) {
  top: 5vh;
  right: auto;
}
div.header div.border::after {
  border: none;
}
div.header div.border::before {
  animation: wobble 60s infinite ease;
  background-image: url(../img/astro1.png);
  border-radius: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

div.overlay {
  background-color: #d4c2f2;
  color: #040404;
  font-family: "Quicksand", Verdana, "Segoe UI", sans-serif;
}
div.overlay ul:has(li:hover) li:not(:hover) {
  color: #9f8ca1;
}

div.content h1#content-header {
  font-family: "Quicksand", Verdana, "Segoe UI", sans-serif;
  color: #d4c2f2;
}

div.projects::before {
  position: absolute;
  left: 25vw;
  top: -5vh;
  height: 100px;
  width: 100px;
  z-index: -1;
  content: "";
  background-image: url("../img/p3.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: mouse-icon-jiggle 2s infinite ease alternate-reverse;
}
div.projects div.card-container div.background {
  display: block;
  color: #f0ecff;
  font-family: "Space Mono", monospace, "Segoe UI", sans-serif;
  opacity: 0.2;
  font-weight: bold;
}
div.projects div.card-container div.background div.background-i {
  font-size: 10vh;
}
div.projects div.card-container div.card {
  transition: color 0.5s ease;
  color: #f0ecff;
  background-color: #040404;
}
div.projects div.card-container div.card h1 {
  transition: color 0.5s ease;
  font-family: "Space Mono", monospace, "Segoe UI", sans-serif;
  color: #d4c2f2;
}
div.projects div.card-container div.card a.card-button:hover {
  color: #f0ecff;
}
div.projects div.card-container div.showcase {
  border-radius: 20px;
  transition: border 0.5s ease;
  border: 1px solid #342a40;
  backdrop-filter: blur(5px);
}
div.projects div.card-container div.showcase:hover {
  border: 5px solid #70616d;
}

.mouse {
  background-color: #d4c2f2;
}

/*# sourceMappingURL=style4.css.map */
