//sans serif
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,500;1,6..96,400&display=swap')
//sans
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap')
//variables
$color1: rgba(0, 5, 8, 1)
$color4: #FCFCFC
$color3: #F0F0F0
$color2: #707070

*
    box-sizing: border-box
    cursor: default
html
    background-color: $color1
    font-family: Quicksand

body, html
    margin: 0
    padding: 0
    overflow-x: hidden

body
    // background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.5),rgba(37, 37, 37, 0.5) )
    color: $color3

    &::before
        content: ''
        height: 0%
        background-color: $color1
        width: 100%
        animation-name: opening 6s ease

nav
    position: absolute
    width: 100vw
    margin: 0
    display: flex
    align-items: center
    justify-content: flex-start
    padding: 20px

    span
        padding: 20px

.quilt-lat
    position: relative
    &::before
        position: absolute
        content: ""
        border-top: 1px solid transparentize($color3,0.3)
        width: 20%
        top: 50%
        left: -50%
        transition: 0.7s ease
    &::after
        position: absolute
        content: ""
        border-top: 1px solid transparentize($color3,0.3)
        width: 20%
        top: 50%
        right: -50%
        transition: 0.7s ease
    &:hover::after
        width: 0%
    &:hover::before
        width: 0%
.quilt-long
    position: relative
    padding: 30px
    &::before
        position: absolute
        content: ""
        border-left: 1px solid transparentize($color3,0.3)
        height: 100%
        top: -100%
        left: 50%
        transition: 0.7s ease
    &::after
        position: absolute
        content: ""
        border-left: 1px solid transparentize($color3,0.3)
        height: 100%
        bottom: -100%
        left: 50%
        transition: 0.7s ease
    &:hover::after
        height: 0%
    &:hover::before
        height: 0%

div.header
    position: relative
    height: 100%
    font-size: 100px
    color: $color3
    font-family: Bodoni Moda
    div.hero
        position: absolute
        top: 50%
        z-index: 1
        left: 50%
    div.background
        position: absolute
        font-size: 30vw
        top: 0%
        left: -50%
        @for $i from 1 through 6
            div.background#{$i}
                // margin: -23vw
                line-height: 22vw
                overflow-y: hidden
                color: transparentize($color3,0.95)
                text-align: center
                transition: 0.3s ease
                &:hover
                    color: transparentize($color3,0.7)

    div.border
        content: ''
        border: 2px solid $color2
        position: absolute
        cursor: pointer
        padding: 200px
        top: 30%
        left: 30%
        transform: translate(-50%, -50%)
        text-align: center
        transition: 0.5s ease
        z-index: 2
        div.header-border-top
            font-family: Quicksand
            letter-spacing: 5px
            font-weight: bold
            position: absolute
            top: -10%
            left: 0
            font-size: 12px

    span.scroll-down
        font-family: Quicksand
        font-weight: bold
        letter-spacing: 5px
        position: absolute
        font-size: 12px
        top: 90vh
        left: 50%
        transform: translate(-50%,-50%)
        transition: 0.9s ease
        &:hover
            transform: translate(-50%, -20%)

div.content
    height: 100%

@media only screen and (max-width: 600px)
    body
        nav
            visibility: hidden
        div.header
            div.hero
                font-size: 50px
            div.background
                font-size: 150px
                left: -50%
                transform: rotate(90deg)

    // @keyframes opening
