@import "@globalStyles/fonts.css";
@import "@globalStyles/animations.css";
@import "@globalStyles/defaults.css";

@import "@globalStyles/themes/classic.css";
@import "@globalStyles/themes/synthwave.css";
@import "@globalStyles/themes/space.css";

*::selection {
    background-color: var(--color2);
}

h1 {
    font-size: min(max(5vw, 3rem), 5rem);
    font-family: var(--font-special);
    font-weight: normal;
}

@media (max-width: 768px) {
    h1 {
        font-size: min(max(5vh, 1rem), 5rem);
    }
}
