@import "@globalStyles/animations.css";

.mouseIndicator {
    margin-top: -20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mouseIndicatorImage {
    width: 5vh;
    height: auto;
    margin: 2vh;
    filter: invert(0.7) sepia(60%);
    animation: verticalSHM 2s ease-in-out infinite;
}

