---
import styles from "./ScrollIndicator.module.css";
import { Image } from "astro:assets";
import mouseImage from '@public/mouse.png'
---
<span class={styles.mouseIndicator}>
    <Image src={mouseImage} alt="scroll down" class={styles.mouseIndicatorImage}/>
    <span>↓</span>
</span>

<script src="./ScrollIndicator.ts"></script>
