@import "@theme";

.bigMonocle {
    height: 200vh;
    aspect-ratio: 1;
    border: 2em solid var(--color3);
    border-radius: 50%;
    position: fixed;
    outline: 2px solid var(--color2);
    outline-offset: 1rem;

    top: 60vh;
    left: 50vw;
    translate: -0% -20%;
    opacity: 0.6;
    /* animation: rotateLinear 10s linear 0s infinite forwards; */
}


@media (max-width: 768px) {
    .bigMonocle {
        display: none;
    }
}
