---
import styles from "./Hero.module.css";
---
<main class={styles.heroContainer}>
    <div class={styles.heroDecor}></div>
    <h1 class={styles.heroIntro} data-scroll data-scroll-dir="top" data-scroll-speed="2">I turn websites into magic.</h1>
</main>
