@import "@theme";

.heroContainer {
    position: relative;
    height: 100vh;
    margin-left: 20vw;
    margin-right: 20vw;
}

.heroIntro {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    max-width: 16ch;
    line-height: 1;

    .slotWord {
        display: inline-block;
        vertical-align: baseline;
        perspective: 900px;
        overflow: hidden;
        position: relative;
        transform: translate(0, 25%);

        display: inline-block;
        transform-style: preserve-3d;
        font-style: italic;
        color: var(--color6);

        .slotExit {
            animation: slotExit 0.45s cubic-bezier(0.4, 0, 0.8, 0.6)
                forwards;
        }

        .slotEnter {
            animation: slotEnter 0.7s cubic-bezier(0.15, 0, 0.1, 1) both;
        }
    }

    &::before {
        content: "❝"
    }

    .heroDesc {
        font-family: var(--font-header);
        font-size: clamp(1.5rem, 2vw, 4rem);
        margin-left: auto;
        margin-bottom: 2rem;
        width: fit-content;
        padding: 0rem 1rem;
        /* background:  linear-gradient(to right, var(--color3) 20%, color-mix( in srgb, var(--color2) 50%, transparent)); */
        border-left: 1rem solid var(--color2);
    }
}

.heroDecorCircle {
    outline: 2px solid var(--color2);
    outline-offset: 2rem;
    border: 2rem solid var(--color3);
    border-radius: 50%;
    opacity: 0.8;

    aspect-ratio: 1;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    .monocleContainer {
        width: 100%;
        position: absolute;
        aspect-ratio: 1;
        animation: rotateLinear 20s linear infinite;
    }

    .monocleDecor {
        position: absolute;
        border: 2px solid var(--color2);
        border-radius: 50%;
        outline: 4px solid var(--color2);
        outline-offset: -1rem;

        width: 90%;
        height: 90%;

        z-index: -1;
        content: "";
    }
    .monocleDecor:first-child {
        top: 0;
        left: 0;
    }
    .monocleDecor:last-child {
        bottom: 0;
        right: 0;
    }
    .monocle {
        height: 80%;
        width: 80%;
        position: relative;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media (max-width: 768px) {
    .heroContainer {
        margin-left: auto;
        margin-right: auto;
    }

    .heroIntro{
        margin: 0;
        top: 70%;
    }

    .heroDecorCircle {
        border: 1rem solid var(--color3);
        top: 40%;
        height: 40vh;
        transform: translate(-50%, -50%);
        opacity: 0.3;
    }
}
