---
import style from './ScrollController.module.css'
---
<div class={style.scrollbar} data-cursor-type="grab">
    <span class={style.scrollbarThumb} ></span>
</div>

<script src="./ScrollController.ts"></script>
