---
import Card from "@layouts/Card/Card.astro";
import styles from "./Project.module.css";
---
<main class={styles.projectContainer}>
    <Card title={"Rumat"}, link={"https://github.com/adrsha/rumat"}>
A well integrated collection of mathematical tools with smart abilities such as brackets auto-completions, stepwise solutions, etc. The tools may involve equation solvers, complex calculations, etc. 
    </Card>
</main>
