---
import styles from "./FullScreenImage.module.css";

interface Props {
  src:        string;
  alt:        string;
  className?: string;
}

const { src, alt, className } = Astro.props;
---

<div class:list={[styles.fullscreenImgWrapper, className]}>
  <img src={src} alt={alt} />
</div>

<script src="./FullScreenImage.ts"></script>
