.breadcrumbs {
    outline-offset: 10px;
    outline: 5px solid var(--color3);
    border: 2px solid var(--color2);
    border-radius: 50%;
    width: 30vh;
    aspect-ratio: 1;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 50%;
    background-color: transparent;
    /* transform: translate(-50%, -50%); */
    backdrop-filter: blur(5px);

    .breadcrumb_dot {
        outline-offset: 1rem;
        outline: 2px solid var(--color3);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color4);
        width: 10px;
        aspect-ratio: 1;
        border-radius: 50%;

        &::after {
            content: '';
            border: 3px solid var(--color3);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 4rem;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }

    .breadcrumb_hand {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 0%) rotate(30deg);
        transform-origin: bottom;
        background-color: var(--color4);
        width: 2px;
        height: 40%;
        border-radius: 50%;

        &::after {
            content: '';
            border: 3px solid var(--color4);
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -100%);
            width: 5px;
            aspect-ratio: 1;
            border-radius: 50%;
        }
    }

    .labels {
        position: relative;
        height: 100%;
        aspect-ratio: 1;
        .label {
            position: absolute;
            transform: translate(-50%, -50%);
            color: var(--color5);
            font-size: 2rem;
            font-family: var(--font-special);
        }
    }
    .dividers {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        aspect-ratio: 1;
        .divider{
            position: absolute;
            height: 20%;
            transform-origin: bottom;
            width: 2px;
            background-color: var(--color2);
        }
    }
}
