---
import styles from './Mouse.module.css'
---

<div class={styles.mouse}>
    <div class={styles.mouseOutline}></div>
    <div class={styles.mouseCircle}></div>
</div>

<script src="./Mouse.ts"></script>
