@import url("../../globalStyles/animations.css");

* {
    cursor: none;
}

.mouse {
    position: fixed;
    top: -50%;
    z-index: 100;
    mix-blend-mode: difference;
    pointer-events: none;

    .mouseCircle {
        aspect-ratio: 1;
        transform: translate(-50%, -50%);
        width: var(--mouse-size);
        background-color: var(--color5);
        border-radius: 50%;
        transition:
            width 0.25s ease,
            scale 0.5s ease;
        transform-origin: center center;

        &::after {
            content: "";
            position: absolute;
            width: 2px;
            aspect-ratio: 1;
            background-color: var(--color-1);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.mouseHover .mouseCircle {
    animation: cursorJiggle 1.5s ease;
}

@media (hover: none), (pointer: coarse) {
    .mouse {
        display: none;
    }
}
