---
import Mouse from '@components/Mouse/Mouse.astro';
import Nav from '@components/Nav/Nav.astro';
import Loader from '@components/Loader/Loader.astro';
import ScrollController from '@components/ScrollController/ScrollController.astro';
import { SEO } from "astro-seo";
---
<!doctype html>
<html lang="en">

    <head>
      <SEO
          title="Adarsha Acharya | Portfolio"
          description="I'm a software engineer from Kathmandu, Nepal."
          openGraph={{
            basic: {
              title: "Adarsha Acharya",
              type: "website",
              image: "/opengraph.png",
            }
          }}
          extend={{
            link: [{ rel: "icon", href: "/favicon.png" }],
          }}
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <style>
            html,
            body {
                margin: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
            }

            body {
                background: var(--background);
                color: var(--foreground);
                font-family: var(--font-body);
                max-width: 100vw;
                overflow-x: hidden;
            }
        </style>
        <title>Adarsha Acharya</title>
    </head>

    <body data-theme="classic">
        <Mouse />
        <Nav />
        <Loader />
        <ScrollController />
        <slot />
    </body>

</html>
