@import "@theme";

.header {
    display:         flex;
    justify-content: flex-end;

    position: fixed;
    z-index: 50;

    width: 100%;
}

.nav {
    padding: 1em;
    z-index: 1;
}

.nav .navLogo {
    font-family:    var(--font-header);
    font-weight:    bold;
    font-size:      2rem;
    letter-spacing: 0.2em;

    position: relative;
    padding:  1rem;
}

.nav .navLogoHover {
    position: absolute;
    top:      0;
    right:    0;
    left:     0;

    transition: letter-spacing 1s ease, transform 1s ease;

    letter-spacing: 0.2em;

    width: fit-content;
    padding: 1rem;
}

.nav .navLogo:hover .navLogoHover {
    --spacing: -0.4em;

    letter-spacing: var(--spacing);
    transform: translateX(calc(-1rem + var(--spacing)));
}

.navMenu {
    position:  fixed;
    top:       50%;
    left:      50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    aspect-ratio:  1;
    padding:       0;
    margin:        0;
    border-radius: 50%;

    display:         flex;
    justify-content: center;
    align-items:     center;
    flex-direction:  column;
    gap:             0em;

    list-style-type: none;
    overflow:        hidden;
}

.navMenu::after {
    content: "";
    position: fixed;
    z-index: -1;

    width:        80%;
    aspect-ratio: 1;

    padding:       0;
    margin:        0;
    border-radius: 50%;

    background: var(--color-1);

    border:         2px solid var(--color2);
    outline:        4px solid var(--color3);
    outline-offset: 1rem;
}
.navMenu::before{
    content: "";
    position: fixed;
    z-index:  -1;

    width:        90%;
    aspect-ratio: 1;

    padding:       0;
    margin:        0;
    border-radius: 50%;

    backdrop-filter: blur(10px);

    border:         2px solid var(--color2);
    outline:        4px solid var(--color3);
    outline-offset: -1rem;
}

.navMenu a{
    opacity: 0.7;

    letter-spacing: -0.1em;
    color:          var(--color-1);
    text-shadow:    0 0 3px var(--color4),
                    0 0 3px var(--color4),
                    0 0 3px var(--color4),
                    0 0 3px var(--color4),
                    0 0 3px var(--color4);
    font-family:    var(--font-header);
    font-weight:    normal;

    transition: color 1s ease, letter-spacing 1s ease, opacity 1s ease, text-shadow 1s ease, font-size 0.5s ease;
}

.navMenu a:hover{
    opacity: 1;

    letter-spacing: 0em;
    color:          var(--color3);
    text-shadow:    0 0 1px var(--color3),
                    0 0 1px var(--color3),
                    0 0 1px var(--color3),
                    0 0 1px var(--color3),
                    0 0 1px var(--color3);
}

.navMenuOpen {
    width:     max(100vh, 100vw);
    animation: popOut 1s ease;
}

.navMenuClosed {
    animation: popIn 1s ease forwards;
}


.navMenuClosed .navMenuLink{
    opacity:   0;
    font-size: 5vw;
}

.navMenuOpen .navMenuLink{
    opacity:   0.7;
    font-size: clamp(2rem, 10vw, 10rem);
}
