---
import styles from "./Contacts.module.css";

interface Props {
  github:    string;
  discord:   string;
}

const {github, discord} = Astro.props;
---

<span class={styles.contacts}>
    <a href={discord}>Discord</a>
    <a href={github}>Github</a>
</span>
